{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<!-- User Account: style can be found in dropdown.less -->
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="{{url_for('static', filename='img/user2-160x160.jpg')}}" class="user-image img-circle elevation-2" alt="User Image">
          <span class="d-none d-md-inline">
               {% if current_user.first_name %}
               {{ current_user.first_name }}
               {% else %}
               {{ current_user.email }}
               {% endif %}                 
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <!-- User image -->
          <li class="user-header bg-primary">
              <img src="{{url_for('static', filename='img/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">

            <p>
       {% if current_user.first_name %}
       {{ current_user.first_name }}
       {% else %}
       {{ current_user.email }}
       {% endif %}
               - Web Developer
              <small>Member since Nov. 2012</small>
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="row">
              <div class="col-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-4 text-center">
                <a href="#">Friends</a>
              </div>
            </div>
            <!-- /.row -->
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
            <a href="{{ url_for('security.logout') }}" class="btn btn-default btn-flat float-right">Sign out</a>
          </li>
        </ul>
      </li>


    {% endif %}
    {% endblock %}
